/*IMPORTS*/
/*RESET*/
/*RESET*/
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration-line: none;
  font-family: serif;
}

/*STARDARD*/
body {
  background-color: rgb(219, 120, 81);
}

a {
  color: white;
  text-decoration: none;
}

.titulo-h1 {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 0;
  padding: 8px 8px 8px 8px;
  background: linear-gradient(to top, rgb(230, 22, 16) 74%, rgb(135, 13, 9) 100%);
  color: #ffffff;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
}

/*HEADER*/
/*INDEX*/
/*INDEX*/
.section-index {
  margin-top: 7%;
  margin-bottom: 3%;
  justify-content: center;
}

/*SECCION IMAGEN CA*/
#imagen-index {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
}

.scale-imagen {
  transition: 0.5s;
}

.scale-imagen :hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
}

/*ACORDIONES*/
.accordion {
  --bs-accordion-border-color: rgb(219, 120, 81);
}

.accordion-item {
  background-color: rgb(219, 120, 81);
}

.accordion-button {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  background: linear-gradient(to top, rgb(230, 22, 16) 74%, rgb(135, 13, 9) 100%);
  color: white;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  font-size: 20px;
  line-height: 1.3;
}

.accordion-button:focus {
  z-index: 0;
}

.accordion-button:not(.collapsed) {
  color: white;
}

.accordion-body {
  width: 90%;
  margin: auto;
}

/*MEDIA QUERIES -320PX +450px*/
@media (min-width: 320px) and (max-width: 450px) {
  .section-index {
    margin-top: 24%;
    margin-bottom: 10%;
  }
  #imagen-index {
    width: 90%;
    margin-top: 6%;
    margin-bottom: 6%;
  }
}
/*MEDIA QUERIES -451px +767px*/
@media (min-width: 451px) and (max-width: 767px) {
  .section-index {
    margin-top: 17%;
  }
  #imagen-index {
    width: 85%;
    margin-top: 7%;
    margin-bottom: 7%;
  }
}
/*MEDIA QUERIES -768px +1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
  .section-index {
    margin-top: 10%;
  }
  #imagen-index {
    width: 70%;
    margin-top: 6%;
    margin-bottom: 6%;
  }
}
/*MEDIA QUERIES -1025px +1300px*/
@media (min-width: 1025px) and (max-width: 1300px) {
  .section-index {
    margin-top: 8%;
  }
  #imagen-index {
    width: 70%;
    margin-top: 4%;
    margin-bottom: 6%;
  }
}
/*HISTORIA*/
/*HISTORIA/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*MAIN HISTORIA*/
.main-historia {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: auto;
  margin-top: 6%;
}

/*PARRAFO ACORDEON HISTORIA*/
.parrafo-acord-historia {
  width: 90%;
  text-align: center;
  margin-top: 2%;
  margin-left: 3%;
}

/*MEDIA QUERIES -320PX +450px*/
@media (min-width: 320px) and (max-width: 450px) {
  .main-historia {
    margin-top: 23%;
  }
  .clearfix {
    margin-top: 5%;
  }
  .imagen-acord-historia {
    width: 100%;
  }
}
/*MEDIA QUERIES -451px +767px*/
@media (min-width: 451px) and (max-width: 767px) {
  .main-historia {
    margin-top: 17%;
  }
  .clearfix {
    margin-top: 5%;
  }
  .imagen-acord-historia {
    width: 100%;
  }
}
/*MEDIA QUERIES -768px +1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
  .main-historia {
    margin-top: 10%;
  }
  .clearfix {
    margin-top: 3%;
  }
}
/*MEDIA QUERIES -1025px +1300px*/
@media (min-width: 1025px) and (max-width: 1300px) {
  .main-historia {
    margin-top: 8%;
  }
}
/*INTERVENCIONES*/
/*INTERVENCIONES*/
.main-intervenciones {
  display: flex;
  overflow: hidden;
  margin-top: 6%;
}

.seccion-intervenciones {
  width: 100%;
}

/*Articulo Imagen de Intervenciones*/
.articulo-imagenes-intervenciones {
  display: flex;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
}

.div-imagenes-intervenciones-1 {
  margin: auto;
}

.card {
  margin-bottom: 5px;
}

/*MEDIA QUERIES -320PX +767px*/
@media (min-width: 320px) and (max-width: 767px) {
  .main-intervenciones {
    margin-top: 25%;
  }
  .titulo-secundario-intervenciones {
    width: 80%;
    margin-top: 1%;
    margin-left: 10%;
    padding: 7px 7px 7px 7px;
    font-size: 15px;
  }
}
/*MEDIA QUERIES -768px +1023px*/
@media (min-width: 768px) and (max-width: 1023px) {
  .main-intervenciones {
    margin-top: 10%;
  }
  .titulo-secundario-intervenciones {
    width: 80%;
    margin-top: 1%;
    margin-left: 10%;
    padding: 7px 7px 7px 7px;
    font-size: 15px;
  }
}
/*MEDIA QUERIES -1024px*/
@media (min-width: 1024px) {
  .main-intervenciones {
    margin-top: 10%;
  }
  .titulo-secundario-intervenciones {
    width: 80%;
    margin-top: 1%;
    margin-left: 10%;
    padding: 7px 7px 7px 7px;
    font-size: 15px;
  }
}
/*CAPACITACIONES*/
/*CAPACITACIONES///////////////////////////////////////////////////////////////////////////////////////////////*/
/*MAIN CAPACITACIONES*/
.main-capacitaciones {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin-top: 6%;
}

.clearfix {
  width: 80%;
  background-color: #f5e1e1;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
  border-color: #050404;
  border-style: solid;
  border-radius: 1%;
  border-spacing: 1px;
}

.parrafo-acord-capacit {
  width: 90%;
  text-align: center;
  margin-top: 2%;
  margin-left: 3%;
}

/*MEDIA QUERIES -320PX +767px*/
@media (min-width: 320px) and (max-width: 767px) {
  .main-capacitaciones {
    margin-top: 25%;
  }
  .titulo-secundario-capacitaciones {
    width: 80%;
    margin-left: 10%;
    padding: 7px 7px 7px 7px;
    font-size: 15px;
  }
  .imagen-acord-capacit {
    width: 100%;
  }
}
/*MEDIA QUERIES -768px +1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
  .main-capacitaciones {
    margin-top: 10%;
  }
  .titulo-secundario-capacitaciones {
    width: 80%;
    margin-left: 10%;
    padding: 7px 7px 7px 7px;
    font-size: 15px;
  }
}
/*MEDIA QUERIES -1024px*/
@media (min-width: 1024px) {
  .main-capacitaciones {
    margin-top: 10%;
  }
  .titulo-secundario-capacitaciones {
    width: 80%;
    margin-left: 10%;
    padding: 7px 7px 7px 7px;
    font-size: 15px;
  }
}
/*CARRITO DE CURSOS*/
.title-carrito-cursos {
  margin-top: 6%;
}

.main-carritoCursos {
  display: flex;
  margin: 2%;
}

.seccion-carritoCursos {
  display: flex;
  width: 60%;
}

.aside-carritoCursos {
  width: 40%;
  margin-left: 2%;
}

/*CONTACTO*/
.main-contacto {
  overflow: hidden;
}

.grilla-titulo {
  margin-top: 6%;
  margin-bottom: 5%;
}

/*GRIDS CONTACTO*/
.div-contacto {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-areas: "div-contacto div-form" "div-contacto div-form" "div-contacto div-form" "div-contacto div-form";
  grid-template-columns: 50% 50%;
  grid-template-rows: 6% 6% 6% 45%;
}

.grilla-telefono {
  grid-row: 1/2;
  margin-left: 200px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grilla-instagram {
  grid-row: 2/3;
  margin-left: 200px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grilla-facebook {
  grid-row: 3/4;
  margin-left: 200px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grilla-mapa {
  grid-row: 4/5;
  margin-left: 60px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.grilla-nombre {
  margin-top: 20px;
  margin-left: 20%;
  align-items: center;
  justify-content: center;
}

.grilla-email {
  margin-left: 20%;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.grilla-asunto {
  margin-left: 20%;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.grilla.text {
  align-items: center;
  justify-content: center;
}

.grilla-enviar {
  margin-left: 40%;
  align-items: center;
  justify-content: center;
}

/*CONTACTOS*/
.clas-contactos :any-link {
  color: black;
}

.clas-contactos {
  width: 500px;
  font-size: 20px;
}

.maps-contactos {
  height: 200px;
  width: 300px;
  margin-left: 140px;
}

/*ICONOS CONTACTO*/
.icon-telefono {
  grid-row: 1/2;
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.icon-instagram {
  grid-row: 2/3;
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.icon-facebook {
  grid-row: 3/4;
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

/*FORMULARIO*/
.email-contacto {
  margin-left: 14px;
}

.asunto-contacto {
  margin-left: 7px;
  margin-bottom: 5%;
}

.text-contactos {
  width: 90%;
  margin-bottom: 0px;
}

/*MEDIA QUERIES -320PX +450px*/
@media (min-width: 320px) and (max-width: 450px) {
  .div-contacto {
    height: 400px;
    grid-template-rows: 8% 8% 8% 40%;
  }
  .grilla-titulo {
    margin-top: 24%;
  }
  .grilla-telefono {
    margin-left: 10%;
    margin-top: 5%;
  }
  .grilla-instagram {
    margin-left: 10%;
    margin-top: 10%;
  }
  .grilla-facebook {
    margin-left: 10%;
    margin-top: 10%;
  }
  .grilla-mapa {
    margin: auto;
    margin-top: 10%;
  }
  .grilla-nombre {
    margin-top: 0px;
    margin-left: 2%;
  }
  .grilla-email {
    margin-top: 0px;
    margin-left: 2%;
  }
  .grilla-asunto {
    margin-left: 2%;
  }
  .grilla-text {
    margin: auto;
    margin-top: 1%;
  }
  .grilla-enviar {
    margin-left: 60px;
  }
  .clas-contactos {
    font-size: 10px;
  }
  .maps-contactos {
    height: 160px;
    width: 150px;
    margin-left: 10px;
  }
  .icon-telefono {
    width: 40px;
  }
  .icon-instagram {
    width: 40px;
  }
  .icon-facebook {
    width: 40px;
    height: 30px;
  }
  .nombre-contactos {
    margin-bottom: 10px;
    font-size: 6px;
  }
  .email-contacto {
    margin-left: 0px;
    margin-bottom: 10px;
    font-size: 8px;
  }
  .asunto-contacto {
    margin-left: 4px;
    font-size: 6px;
  }
  .text-contactos {
    width: 90%;
    height: 80%;
    margin: auto;
  }
}
/*MEDIA QUERIES -451px +767px*/
@media (min-width: 451px) and (max-width: 767px) {
  .div-contacto {
    grid-template-rows: 8% 8% 8% 40%;
  }
  .grilla-titulo {
    margin-top: 17%;
  }
  .grilla-telefono {
    margin-left: 5%;
    margin-top: 0px;
  }
  .grilla-instagram {
    margin-left: 5%;
    margin-top: 0px;
  }
  .grilla-facebook {
    margin-left: 5%;
    margin-top: 0px;
  }
  .grilla-mapa {
    margin: auto;
    margin-top: 20px;
  }
  .grilla-nombre {
    margin-left: 5%;
    margin-top: 0;
  }
  .grilla-email {
    margin-left: 5%;
  }
  .grilla-asunto {
    margin-left: 5%;
  }
  .grilla-enviar {
    margin-left: 40%;
  }
  .clas-contactos {
    font-size: 15px;
  }
  .maps-contactos {
    width: 90%;
    height: auto;
    margin-left: 10px;
  }
  .icon-telefono {
    width: 40px;
    height: 20px;
  }
  .icon-instagram {
    width: 40px;
    height: 20px;
  }
  .icon-facebook {
    width: 40px;
    height: 30px;
  }
  .nombre-contactos {
    margin-bottom: 10%;
    font-size: 15px;
  }
  .email-contacto {
    margin: 0;
    margin-bottom: 10%;
    font-size: 15px;
  }
  .asunto-contacto {
    margin: 0;
    margin-bottom: 10%;
    font-size: 15px;
  }
  .text-contactos {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 5%;
  }
}
/*MEDIA QUERIES -768px +1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
  .div-contacto {
    grid-template-rows: 8% 8% 8% 40%;
  }
  .grilla-titulo {
    margin-top: 10%;
  }
  .grilla-telefono {
    margin-left: 8%;
    margin-top: 0px;
  }
  .grilla-instagram {
    margin-left: 8%;
    margin-top: 0px;
  }
  .grilla-facebook {
    margin-left: 8%;
    margin-top: 0px;
  }
  .grilla-mapa {
    margin: auto;
    margin-top: 20px;
  }
  .grilla-nombre {
    margin-left: 8%;
    margin-top: 0;
  }
  .grilla-email {
    margin-left: 8%;
  }
  .grilla-asunto {
    margin-left: 8%;
  }
  .grilla-enviar {
    margin-left: 40%;
  }
  .clas-contactos {
    font-size: 15px;
  }
  .maps-contactos {
    width: 90%;
    height: auto;
    margin-left: 10px;
  }
  .icon-telefono {
    width: 40px;
    height: 20px;
  }
  .icon-instagram {
    width: 40px;
    height: 20px;
  }
  .icon-facebook {
    width: 40px;
    height: 30px;
  }
  .nombre-contactos {
    margin-bottom: 10%;
    font-size: 15px;
  }
  .email-contacto {
    margin: 0;
    margin-bottom: 10%;
    font-size: 15px;
  }
  .asunto-contacto {
    margin: 0;
    margin-bottom: 10%;
    font-size: 15px;
  }
  .text-contactos {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 5%;
  }
}
/*MEDIA QUERIES -1025px +1300px*/
@media (min-width: 1025px) and (max-width: 1300px) {
  .div-contacto {
    height: 600px;
    grid-template-rows: 10% 10% 10% 40%;
  }
  .grilla-titulo {
    margin-top: 8%;
  }
  .grilla-telefono {
    margin-left: 15%;
    margin-top: 0px;
  }
  .grilla-instagram {
    margin-left: 15%;
    margin-top: 0px;
  }
  .grilla-facebook {
    margin-left: 15%;
    margin-top: 0px;
  }
  .grilla-mapa {
    margin: auto;
    margin-top: 20px;
  }
  .grilla-nombre {
    margin-left: 10%;
  }
  .grilla-email {
    margin-left: 10%;
  }
  .grilla-asunto {
    margin-left: 10%;
  }
  .grilla-enviar {
    margin-left: 40%;
  }
  .clas-contactos {
    font-size: 15px;
  }
  .maps-contactos {
    margin: auto;
    margin-left: 10px;
  }
  .icon-telefono {
    width: 40px;
    height: 20px;
  }
  .icon-instagram {
    width: 40px;
    height: 20px;
  }
  .icon-facebook {
    width: 40px;
    height: 30px;
  }
  .nombre-contactos {
    margin-bottom: 10%;
    font-size: 15px;
  }
  .email-contacto {
    margin: 0;
    margin-bottom: 10%;
    font-size: 15px;
  }
  .asunto-contacto {
    margin: 0;
    margin-bottom: 10%;
    font-size: 15px;
  }
  .text-contactos {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 5%;
  }
}
/*FOOTER*/
/*Pie de Pagina ////////////////////////////////////////////////////////////////////////////////////////////////////*/
.piepadre {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  margin-top: 10px;
}

/*RECTANGULOS PIE DE PAGINA*/
/*RECTANGULOS*/
.footer {
  width: 50%;
  height: 150px;
  padding: 0px 8px 8px 8px;
  background: linear-gradient(rgb(230, 22, 16) 45%, rgb(135, 13, 9) 100%);
  color: #ffffff;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

footer div ul {
  padding: 0px;
}

/*COLOR LINKS CONTACTOS PIE*/
.links-contactos {
  color: white;
  text-decoration: none;
}

h3 {
  margin-top: 4px;
  margin-bottom: 5px;
}

/*MEDIA QUERIES -320PX +767px*/
@media (min-width: 320px) and (max-width: 767px) {
  h3 {
    font-size: 20px;
    line-height: 1;
  }
  .footer {
    width: 50%;
    height: 150px;
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 3px;
    font-size: 15px;
  }
}
/*MEDIA QUERIES -768px +1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 35px;
    line-height: 1;
  }
  .footer {
    width: 50%;
    height: 230px;
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 3px;
    font-size: 22px;
  }
}

/*# sourceMappingURL=style.css.map */
