/*Pie de Pagina ////////////////////////////////////////////////////////////////////////////////////////////////////*/
.piepadre {
	width: 100%;
	display: flex;
	align-items: center;
	color: white;
	margin-top: 10px;
}

/*RECTANGULOS PIE DE PAGINA*/
/*RECTANGULOS*/
.footer {
	width: 50%;
	height: 150px;
	padding: 0px 8px 8px 8px;
	background: linear-gradient(rgb(230, 22, 16) 45%, rgb(135, 13, 9) 100%);
	color: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
}

footer div ul {
	padding: 0px;
}

/*COLOR LINKS CONTACTOS PIE*/
.links-contactos {
	color: white;
	text-decoration: none;
}

h3 {
	margin-top: 4px;
	margin-bottom: 5px;
}

/*MEDIA QUERIES -320PX +767px*/
@media (min-width: 320px) and (max-width: 767px) {
	h3 {
		font-size: 20px;
		line-height: 1;
	}

	.footer {
		width: 50%;
		height: 150px;
		margin-top: 10px;
		padding-left: 0px;
		padding-right: 3px;
		font-size: 15px;
	}
}

/*MEDIA QUERIES -768px +1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
	h3 {
		font-size: 35px;
		line-height: 1;
	}

	.footer {
		width: 50%;
		height: 230px;
		margin-top: 30px;
		padding-left: 0px;
		padding-right: 3px;
		font-size: 22px;
	}
}