/*HISTORIA/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*MAIN HISTORIA*/
.main-historia {
	display: flex;
	width: 100%;
	margin-top: 6%;
}


/*PARRAFO ACORDEON HISTORIA*/
.parrafo-acord-historia {
	width: 90%;
	text-align: center;
	margin-top: 2%;
	margin-left: 3%;
}

/*MEDIA QUERIES -320PX +767px*/
@media (min-width: 320px) and (max-width: 767px) {
	.titulo-secundario-historia {
		width: 80%;
		margin-left: 10%;
		padding: 7px 7px 7px 7px;
		font-size: 15px;
	}

	.imagen-acord-historia {
		width: 100%;
	}
}

/*MEDIA QUERIES -768px +1023px*/
@media (min-width: 768px) and (max-width: 1023px) {
	.titulo-secundario-historia {
		width: 80%;
		margin-left: 10%;
		padding: 7px 7px 7px 7px;
		font-size: 15px;
	}
}

/*MEDIA QUERIES -1024px*/
@media (min-width: 1024px) {
	.titulo-secundario-historia {
		width: 80%;
		margin-left: 10%;
		padding: 7px 7px 7px 7px;
		font-size: 15px;
	}
}