/*VARIABLES*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


/*IMPORTS*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*INDEX*/
@import "index";
/*HISTORIA*/
@import "historia";
/*INTERVENCIONES*/
@import "intervenciones";
/*HEADER*/
@import "header";
/*CAPACITACIONES*/
@import "capacitaciones";
/*CONTACTO*/
@import "contactos";
/*FOOTER*/
@import "footer";


/*GENERAL*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
* {
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	list-style-type: none;
	text-decoration-line: none;
	font-family: serif;
	z-index: 0;
	user-select: none;
}

body {
	background-color: rgba(255, 68, 0, 0.397);
}

a {
	color: white;
	text-decoration: none;
}