/*General*/
* {
	margin: 0px;
	list-style-type: none;
	text-decoration-line: none;
}

/*Titulo*/
.title {
	text-align: center;
	background: black;
	padding: 10px 15px;
	color: white;
}

/*Imagen Titulo*/

/*Header*/
.header {
	height: 50px;
	width: 100%;
	position: fixed;
}

/*Barra Navegavion*/
.barra-nav {
	height: 50px;
	width: 100%;
	display: inline-flex;
	margin: 0px;
	padding: 0px;
}

/*Botones Navegacion*/
.boton-nav {
	width: 250px;
	padding: 0px 20px 0px 20px;
	background: linear-gradient(to top, rgb(230, 22, 16) 0%, rgb(135, 13, 9) 100%);
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	margin-block-end: 1em;
}

/*Color Letra Botones*/
header nav ul li a {
	color: white;
	text-decoration: none;
}

/*Pie de Pagina*/
.piepadre {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	color: white;
	margin-top: 10px;
}

/*Rectangulos*/
.footer-preguntas-frecuentes {
	width: 410px;
	height: 120px;
	padding: 8px 8px 8px 8px;
	background: linear-gradient( rgb(230, 22, 16) 45%, rgb(135, 13, 9) 100%);
	color: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
}
.footer-contactos {
	width: 430px;
	height: 120px;
	padding: 8px 8px 8px 8px;
	background: linear-gradient( rgb(230, 22, 16) 45%, rgb(135, 13, 9) 100%);
	color: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
}
.footer-redes {
	width: 460px;
	height: 120px;
	padding: 8px 8px 8px 8px;
	background: linear-gradient( rgb(230, 22, 16) 45%, rgb(135, 13, 9) 100%);
	color: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
}

/*INDEX////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Imagen*/
.conten-image {
	width: 1040px;
	height: 500px;
	margin-top: 110px;
	margin-bottom: 10px;
	margin-inline: 10%;
}

/*Secciones*/
.secciones {
	display: flex;
	color: white;
}

/*Columna Derecha*/
.seccion-1 {
	width: 500px;
	height: 50px;
	padding: 10px 5px 5px 10px;
	margin-left: 130px;
	margin-bottom: 10px;
	background: linear-gradient(to left, rgb(230, 22, 16) 0%, rgb(135, 13, 9) 100%);
	border-style: solid;
	border-radius: 20px 20px 20px 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	position: relative;
	justify-content: center;
}

/*Columna Izquierda*/
.seccion-2 {
	width: 500px;
	height: 50px;
	padding: 10px 5px 5px 10px;
	margin-left: 5px;
	margin-bottom: 10px;
	background: linear-gradient(to right, rgb(230, 22, 16) 0%, rgb(135, 13, 9) 100%);
	border-style: solid;
	border-radius: 20px 20px 20px 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	position: relative;
	justify-content: center;
}

/*HISTORIA/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Main Historia*/
.main-historia {
	display: flex;
}

/*Barra Lateral Historia*/
.barra-lateral-historias {
	width: 900px;
	height: 335px;
	margin-top: 250px;
	margin-left: 5px;
	background: linear-gradient(to left, rgb(230, 22, 16) 86%, rgb(135, 13, 9) 100%);
	color: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 8px;
	text-align: left;
	position: sticky;
	top: 250px;
}

/*Nav Barra Lateral Historia*/
.nav-barra-lateral-historias {
	width: 250px;
	height: 100px;
	margin: 5px 0px 5px 5px;
	padding: 5px 0px 5px 5px;
}

/*Titulos Barra Lateral*/
.titulos-lateral-historias {
	color: white;
	height: 50px;
	width: 200px;
	padding: 10px 30px 0px 20px;
	background: linear-gradient(to left, rgb(230, 22, 16) 86%, rgb(135, 13, 9) 100%);
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	margin-block-end: 1em;
}

/*Titulo Historia*/
.titulo-secundario-historia {
	width: 750px;
	margin-top: 110px;
	margin-left: 150px;
	margin-right: 100px;
	padding: 8px 8px 8px 8px;
	background: linear-gradient(to top, rgb(230, 22, 16) 74%, rgb(135, 13, 9) 100%);
	color: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 24px;
	line-height: 1.3;
	text-align: center;
}

/*Texto Historia*/
.texto-historia {
	width: 800px;
	height: 550px;
	margin-top: 25px;
	margin-left: 150px;
	margin-bottom: 5px;
	color: #000000;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}

/*Articulo Imagenes Historia*/
.articulo-imagenes-historia {
	margin-top: 5px;
	margin-left: 150px;
	display: inline-flex;
}

/*Imagenes Historia*/
.imagenes-historia {
	width: 260px;
	height: 150px;
	margin-right: 25px;

}

/*INTERVENCIONES///////////////////////////////////////////////////////////////////////////////////////////////*/

.main-intervenciones{
	display: flex;
}

/*Barra Lateral Intervenciones*/
.barra-lateral-intervenciones {
	width: 1000px;
	height: 460px;
	margin-top: 180px;
	margin-left: 5px;
	background: linear-gradient(to left, rgb(230, 22, 16) 0%, rgb(135, 13, 9) 100%);
	color: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 8px;
	text-align: left;
}

/*Nav Barra Lateral Intevenciones*/
.nav-barra-lateral-intervenciones {
	width: 250px;
	height: 100px;
	margin: 5px 0px 5px 5px;
	padding: 5px 0px 5px 5px;
}

/*Titulos Barra Lateral Intervenciones*/
.titulos-lateral-intervenciones {
	color: white;
	height: 48px;
	width: 200px;
	padding: 7px 20px 0px 10px;
	background: linear-gradient(to left, rgb(230, 22, 16) 0%, rgb(135, 13, 9) 100%);
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	margin-block-end: 1em;
}

/*Titulo Intervenciones*/
.titulo-secundario-intervenciones {
	width: 750px;
	margin-top: 110px;
	margin-left: 150px;
	margin-right: 100px;
	padding: 8px 8px 8px 8px;
	background: linear-gradient(to top, rgb(230, 22, 16) 0%, rgb(135, 13, 9) 100%);
	color: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 24px;
	line-height: 1.3;
	text-align: center;
}

/*Articulo Imagen de Intervenciones*/
.articulo-imagenes-intervenciones {
	margin-top: 20px;
	margin-left: 150px;
}

/*Imagenes Intervenciones*/
.imagenes-intervenciones {
	width: 150px;
	height: 150px;
	margin-right: 52px;

}

/*CAPACITACIONES///////////////////////////////////////////////////////////////////////////////////////////////*/

.main-capacitaciones{
	display: flex;
}

/*Barra Lateral Capacitaciones*/
.barra-lateral-capacitaciones {
	width: 800px;
	height: 460px;
	margin-top: 190px;
	margin-left: 5px;
	background: linear-gradient(to left, rgb(230, 22, 16) 0%, rgb(135, 13, 9) 100%);
	color: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 8px;
	text-align: left;
}

/*Nav Barra Lateral Capacitaciones*/
.nav-barra-lateral-capacitaciones {
	width: 300px;
	height: 200px;
	margin: 5px 0px 5px 5px;
	padding: 5px 0px 5px 5px;
}

/*Titulos Barra Lateral Capacitaciones*/
.titulos-lateral-capacitaciones {
	color: white;
	height: 48px;
	width: 200px;
	padding: 7px 0px 0px 10px;
	background: linear-gradient(to left, rgb(230, 22, 16) 0%, rgb(135, 13, 9) 100%);
	border-color: #232323;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	margin-block-end: 1em;
} 

/*Titulo Capacitaciones*/
.titulo-secundario-capacitaciones {
	width: 750px;
	margin-top: 110px;
	margin-left: 150px;
	margin-right: 100px;
	padding: 8px 8px 8px 8px;
	background: linear-gradient(to top, rgb(230, 22, 16) 0%, rgb(135, 13, 9) 100%);
	color: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 24px;
	line-height: 1.3;
	text-align: center;
}

/*Texto Capacitaciones*/
.texto-capacitaciones {
	width: 770px;
	height: 300px;
	margin-top: 25px;
	margin-left: 150px;
	color: #000000;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	text-align: left;
}

/*Articulo Imagenes Capacitaciones*/
.articulo-imagenes-capacitaciones {
	margin-left: 300px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*Imagenes Capacitaciones*/
.imagenes-capacitaciones {
	width: 400px;
	height: 200px;
	margin-right: 25px;
}

/*CONTACTO///////////////////////////////////////*/

.main-contacto{
	display: flex;
}

/*Titulo Contacto*/
.titulo-secundario-contacto{
	width: 750px;
	margin-top: 110px;
	margin-left: 5px;
	margin-right: 100px;
	padding: 8px 8px 8px 8px;
	background: linear-gradient(to top, rgb(230, 22, 16) 0%, rgb(135, 13, 9) 100%);
	color: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 24px;
	line-height: 1.3;
	text-align: center;
}

/*Formulario*/
.aside-contactos{
	margin-top: 200px;
	margin-left: 200px;
	margin-bottom: 50px;
}

.nombre-contactos{
	margin-bottom: 20px;
}

.email-contacto{
	margin-left: 14px;
	margin-bottom: 20px;
}

.asunto-contacto{
	margin-left: 7px;
	margin-bottom: 20px;
}

.text-contactos{
	margin-bottom: 20px;
}

/*Contactos*/
.contactos{
	margin-left: 300px;
	margin-top: 50px;
}

.clas-contactos{
	margin-bottom: 50px;
}

.maps-contactos{
	margin-left: 150px;
}