/*CAPACITACIONES///////////////////////////////////////////////////////////////////////////////////////////////*/
/*MAIN CAPACITACIONES*/
.main-capacitaciones {
	display: flex;
	width: 100%;
	margin-top: 6%;
}


.clearfix {
	width: 80%;
	background-color: #f5e1e1;
	margin-bottom: 2%;
	margin-left: 10%;
	margin-right: 10%;
	border-color: #050404;
	border-style: solid;
	border-radius: 1%;
	border-spacing: 1px;
}

.parrafo-acord-capacit {
	width: 90%;
	text-align: center;
	margin-top: 2%;
	margin-left: 3%;
}

/*MEDIA QUERIES -320PX +767px*/
@media (min-width: 320px) and (max-width: 767px) {
	.main-capacitaciones {
		margin-top: 25%;
	}
	.titulo-secundario-capacitaciones {
		width: 80%;
		margin-left: 10%;
		padding: 7px 7px 7px 7px;
		font-size: 15px;
	}

	.imagen-acord-capacit {
		width: 100%;
	}
}

/*MEDIA QUERIES -768px +1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
	.main-capacitaciones {
		margin-top: 10%;
	}
	.titulo-secundario-capacitaciones {
		width: 80%;
		margin-left: 10%;
		padding: 7px 7px 7px 7px;
		font-size: 15px;
	}
}

/*MEDIA QUERIES -1024px*/
@media (min-width: 1024px) {
	.main-capacitaciones {
		margin-top: 10%;
	}
	.titulo-secundario-capacitaciones {
		width: 80%;
		margin-left: 10%;
		padding: 7px 7px 7px 7px;
		font-size: 15px;
	}
}