.main-contacto{
	overflow: hidden;
}
.grilla-titulo {
	margin-top: 6%;
	margin-bottom: 5%;
}

/*GRIDS CONTACTO*/
.div-contacto {
	width: 100%;
	height: 500px;
	display: grid;
	grid-template-areas:
		"div-contacto div-form"
		"div-contacto div-form"
		"div-contacto div-form"
		"div-contacto div-form";
	grid-template-columns: 50% 50%;
	grid-template-rows: 6% 6% 6% 45%;
}

.grilla-telefono {
	grid-row: 1/2;
	margin-left: 200px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grilla-instagram {
	grid-row: 2/3;
	margin-left: 200px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grilla-facebook {
	grid-row: 3/4;
	margin-left: 200px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grilla-mapa {
	grid-row: 4/5;
	margin-left: 60px;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
}

.grilla-nombre {
	margin-top: 20px;
	margin-left: 20%;
	align-items: center;
	justify-content: center;
}

.grilla-email {
	margin-left: 20%;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
}

.grilla-asunto {
	margin-left: 20%;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
}

.grilla.text {
	align-items: center;
	justify-content: center;
}

.grilla-enviar {
	margin-left: 40%;
	align-items: center;
	justify-content: center;
}

/*CONTACTOS*/
.clas-contactos :any-link {
	color: black;
}

.clas-contactos {
	width: 500px;
	font-size: 20px;
}

.maps-contactos {
	height: 200px;
	width: 300px;
	margin-left: 140px;
}

/*ICONOS CONTACTO*/
.icon-telefono {
	grid-row: 1/2;
	width: 30px;
	height: 20px;
	margin-right: 10px;
}

.icon-instagram {
	grid-row: 2/3;
	width: 30px;
	height: 20px;
	margin-right: 10px;
}

.icon-facebook {
	grid-row: 3/4;
	width: 30px;
	height: 20px;
	margin-right: 10px;
}

/*FORMULARIO*/
.email-contacto {
	margin-left: 14px;
}

.asunto-contacto {
	margin-left: 7px;
	margin-bottom: 5%;
}

.text-contactos {
	width: 90%;
	margin-bottom: 0px;

}

/*MEDIA QUERIES -320PX +450px*/
@media (min-width: 320px) and (max-width: 450px) {
	.div-contacto {
		height: 400px;
		grid-template-rows: 8% 8% 8% 40%;
	}
	.grilla-titulo {
		margin-top: 24%;
	}

	.grilla-telefono {
		margin-left: 10%;
		margin-top: 5%;
	}

	.grilla-instagram {
		margin-left: 10%;
		margin-top: 10%;
	}

	.grilla-facebook {
		margin-left: 10%;
		margin-top: 10%;
	}

	.grilla-mapa {
		margin: auto;
		margin-top: 10%;
	}

	.grilla-nombre {
		margin-top: 0px;
		margin-left: 2%;
	}

	.grilla-email {
		margin-top: 0px;
		margin-left: 2%;
	}

	.grilla-asunto {
		margin-left: 2%;
	}

	.grilla-text {
		margin: auto;
		margin-top: 1%;
	}

	.grilla-enviar {
		margin-left: 60px;
	}

	.clas-contactos {
		font-size: 10px;
	}

	.maps-contactos {
		height: 160px;
		width: 150px;
		margin-left: 10px;
	}

	.icon-telefono {
		width: 40px;
	}

	.icon-instagram {
		width: 40px;
	}

	.icon-facebook {
		width: 40px;
		height: 30px;
	}

	.nombre-contactos {
		margin-bottom: 10px;
		font-size: 6px;
	}

	.email-contacto {
		margin-left: 0px;
		margin-bottom: 10px;
		font-size: 8px;
	}

	.asunto-contacto {
		margin-left: 4px;
		font-size: 6px;
	}

	.text-contactos {
		width: 90%;
		height: 80%;
		margin: auto;
	}
}

/*MEDIA QUERIES -451px +767px*/
@media (min-width: 451px) and (max-width: 767px) {
	.div-contacto {
		grid-template-rows: 8% 8% 8% 40%;
	}

	.grilla-titulo {
		margin-top: 17%;
	}

	.grilla-telefono {
		margin-left: 5%;
		margin-top: 0px;
	}

	.grilla-instagram {
		margin-left: 5%;
		margin-top: 0px;
	}

	.grilla-facebook {
		margin-left: 5%;
		margin-top: 0px;
	}

	.grilla-mapa {
		margin: auto;
		margin-top: 20px;
	}

	.grilla-nombre {
		margin-left: 5%;
		margin-top: 0;
	}

	.grilla-email {
		margin-left: 5%;
	}

	.grilla-asunto {
		margin-left: 5%;
	}

	.grilla-enviar {
		margin-left: 40%;
	}

	.clas-contactos {
		font-size: 15px;
	}

	.maps-contactos {
		width: 90%;
		height: auto;
		margin-left: 10px;
	}

	.icon-telefono {
		width: 40px;
		height: 20px;
	}

	.icon-instagram {
		width: 40px;
		height: 20px;
	}

	.icon-facebook {
		width: 40px;
		height: 30px;
	}

	.nombre-contactos {
		margin-bottom: 10%;
		font-size: 15px;
	}

	.email-contacto {
		margin: 0;
		margin-bottom: 10%;
		font-size: 15px;
	}

	.asunto-contacto {
		margin: 0;
		margin-bottom: 10%;
		font-size: 15px;
	}

	.text-contactos {
		width: 90%;
		height: auto;
		margin-left: 5%;
		margin-bottom: 5%;
	}
}

/*MEDIA QUERIES -768px +1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
	.div-contacto {
		grid-template-rows: 8% 8% 8% 40%;
	}

	.grilla-titulo {
		margin-top: 10%;
	}

	.grilla-telefono {
		margin-left: 8%;
		margin-top: 0px;
	}

	.grilla-instagram {
		margin-left: 8%;
		margin-top: 0px;
	}

	.grilla-facebook {
		margin-left: 8%;
		margin-top: 0px;
	}

	.grilla-mapa {
		margin: auto;
		margin-top: 20px;
	}

	.grilla-nombre {
		margin-left: 8%;
		margin-top: 0;
	}

	.grilla-email {
		margin-left: 8%;
	}

	.grilla-asunto {
		margin-left: 8%;
	}

	.grilla-enviar {
		margin-left: 40%;
	}

	.clas-contactos {
		font-size: 15px;
	}

	.maps-contactos {
		width: 90%;
		height: auto;
		margin-left: 10px;
	}

	.icon-telefono {
		width: 40px;
		height: 20px;
	}

	.icon-instagram {
		width: 40px;
		height: 20px;
	}

	.icon-facebook {
		width: 40px;
		height: 30px;
	}

	.nombre-contactos {
		margin-bottom: 10%;
		font-size: 15px;
	}

	.email-contacto {
		margin: 0;
		margin-bottom: 10%;
		font-size: 15px;
	}

	.asunto-contacto {
		margin: 0;
		margin-bottom: 10%;
		font-size: 15px;
	}

	.text-contactos {
		width: 90%;
		height: auto;
		margin-left: 5%;
		margin-bottom: 5%;
	}
}

/*MEDIA QUERIES -1025px +1300px*/
@media (min-width: 1025px) and (max-width: 1300px) {
	.div-contacto {
		height: 600px;
		grid-template-rows: 10% 10% 10% 40%;
	}

	.grilla-titulo {
		margin-top: 8%;
	}

	.grilla-telefono {
		margin-left: 15%;
		margin-top: 0px;
	}

	.grilla-instagram {
		margin-left: 15%;
		margin-top: 0px;
	}

	.grilla-facebook {
		margin-left: 15%;
		margin-top: 0px;
	}

	.grilla-mapa {
		margin: auto;
		margin-top: 20px;
	}

	.grilla-nombre {
		margin-left: 10%;
	}

	.grilla-email {
		margin-left: 10%;
	}

	.grilla-asunto {
		margin-left: 10%;
	}

	.grilla-enviar {
		margin-left: 40%;
	}

	.clas-contactos {
		font-size: 15px;
	}

	.maps-contactos {
		margin: auto;
		margin-left: 10px;
	}

	.icon-telefono {
		width: 40px;
		height: 20px;
	}

	.icon-instagram {
		width: 40px;
		height: 20px;
	}

	.icon-facebook {
		width: 40px;
		height: 30px;
	}

	.nombre-contactos {
		margin-bottom: 10%;
		font-size: 15px;
	}

	.email-contacto {
		margin: 0;
		margin-bottom: 10%;
		font-size: 15px;
	}

	.asunto-contacto {
		margin: 0;
		margin-bottom: 10%;
		font-size: 15px;
	}

	.text-contactos {
		width: 90%;
		height: auto;
		margin-left: 5%;
		margin-bottom: 5%;
	}
}