.title-carrito-cursos {
    margin-top: 6%;
}

.main-carritoCursos {
    display: flex;
    margin: 2%;
}

.seccion-carritoCursos {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-left: 2%;
    margin-bottom: 2%;
}

.aside-carritoCursos {
    width: 40%;
    margin-left: 2%;
}