/*HISTORIA/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*MAIN HISTORIA*/
.main-historia {
	display: flex;
	overflow: hidden;
	width: 100%;
	margin: auto;
	margin-top: 6%;
}
/*PARRAFO ACORDEON HISTORIA*/
.parrafo-acord-historia {
	width: 90%;
	text-align: center;
	margin-top: 2%;
	margin-left: 3%;
}

/*MEDIA QUERIES -320PX +450px*/
@media (min-width: 320px) and (max-width: 450px) {
	.main-historia {
		margin-top: 23%;
	}
	.clearfix{
		margin-top: 5%;
	}
	.imagen-acord-historia {
		width: 100%;
	}
}
/*MEDIA QUERIES -451px +767px*/
@media (min-width: 451px) and (max-width: 767px) {
	.main-historia {
		margin-top: 17%;
	}
	.clearfix{
		margin-top: 5%;
	}
	.imagen-acord-historia {
		width: 100%;
	}
}

/*MEDIA QUERIES -768px +1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
	.main-historia {
		margin-top: 10%;
	}
	.clearfix{
		margin-top: 3%;
	}
}

/*MEDIA QUERIES -1025px +1300px*/
@media (min-width: 1025px) and (max-width: 1300px) {
	.main-historia {
		margin-top: 8%;
	}

}